<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
</head>
<body>
    <h1>Welcome {{name}} Your login successful </h1>
    <a href="{{url_for('Logout')}}"  class="btn btn-outline-success me-2" type="button">
        LOGOUT
    </a>
</body>
</html>