<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Register</title>
      <style>
        .container{
  
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%) ;
        }
    </style>
  </head>
  <body>
    <h1>Register Page</h1>
    <a href="{{url_for('LOGIN')}}" class="btn btn-outline-success me-2" type="button">Already Have account</a>



    <div class="container">
      <form method="POST">
        {{Register_form.hidden_tag()}}
        <div class="input-group input-group-lg">
          {{Register_form.user_name(class_='form-control')}}
        </div>
        <br>
        <div class="input-group input-group-lg">
          {{Register_form.Password(class_='form-control')}}
        </div>
        <br>
        <div class="input-group input-group-lg">
        {{Register_form.submit(class_='class="btn btn-primary btn-lg')}}
        </div>
      </form>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>